# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
src/styles/bootstrap.scss
src/styles/ministry.scss
src/styles/styles.scss
src/styles/schedule.scss
src/styles/resources.scss
src/styles/contact.scss
src/styles/about.scss
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
